DRIVER=~websockets+~httpx
QQ_IS_SANDBOX=true
QQ_BOTS='[
    {
        "id": "YOUR_BOT_ID",
        "token": "YOUR_BOT_TOKEN",
        "secret": "YOUR_BOT_SECRET",
        "intent":
        {
            "guild_messages": true,
            "c2c_group_at_messages": true,
            "at_messages": true,
            "guild_messages": true
        }
    }
]'
COMMAND_START=["/", ""]
